.contentDiv {
    height: 300px;
    width: 410px;
    border-radius: 10px;
    /* background-color: rgb(138, 185, 195); */
    /* display: inline-block; */
    margin-left: 20px;
    text-align: center;
    float: left;
    margin-top: 20px;
    box-shadow: 5px 5px 10px gray;
}

.content-header {
    text-align: center;
}

.contentDiv p {
    padding: 5px;
}